//- extends layout

//- block content
//-   h1 #{pageHeader.title}
//-   p #{sidebar}
  
//-   form(method="POST" action="/forgot-password")
//-     div
//-       label(for="email") Email:
//-       input(type="email" id="email" name="email" required)
//-     div
//-       button(type="submit") Reset Password
