extends layout

block content
  .row.banner
    .col-12
      h1 Tech Conference 2024

  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p Convention Center, Hyderabad

          .card.card-primary
            .card-block
              h2.card-title Event details
              p.card-text Date: 15 September 2024
              p.card-text Time: 9:00am - 5:00pm
              p.card-text Registration Fee: ₹500


          .card.card-primary
            .card-block
              h2.card-title Description
              p.card-text A conference for tech enthusiasts.
            //-     i.fa.fa-check
            //-     | &nbsp;Hot drinks
            //-   | &nbsp;
            //-   span.badge.badge-warning
            //-     i.fa.fa-check
            //-     | &nbsp;Food
            //-   | &nbsp;
            //-   span.badge.badge-warning
            //-     i.fa.fa-check
            //-     | &nbsp;Premium wifi

        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Location map
              img.img-fluid.rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2&key=<API Key>')

    .row
      .col-12
        .card.card-primary.review-card
          .card-block
            a.btn.btn-primary.float-right(href='/location/review/new') ➥ Add review
            h2.card-title Customer reviews
            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.review Author John Doe
                small.review Timestamp 10 August 2024
              .col-12
                p Great event with insightful sessions.

            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor Jane Smith
                small.reviewTimestamp 8 August 2024
              .col-12
                p Very informative and well-organized.

    .col-12.col-lg-3
      p.lead
        | Tech Conference 2024 is on EventHub because it offers a great opportunity to learn and network with industry professionals.
      p
        | If you've attended and enjoyed it - or if you didn't - please leave a review to help others.



