extends layout

block content
  h1 #{pageHeader.title}
  p #{sidebar}
  
  form(method="POST" action="/login")
    div
      label(for="email") Email:
      input(type="email" id="email" name="email" required)
    div
      label(for="password") Password:
      input(type="password" id="password" name="password" required)
    div
      button(type="submit") Log In
  //- if showForgotPassword
  //-   p
  //-     a(href="/forgot-password") Forgot your password?
